<kendo-appbar class="navbar navbar-light bg-light" [position]="'top'">
  <div class="container">
  <kendo-appbar-section>
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="">
    </a>
  </kendo-appbar-section>

  <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <kendo-menu>
      <kendo-menu-item text="Home">
      </kendo-menu-item>
      <kendo-menu-item text="About"> </kendo-menu-item>
  </kendo-menu>
</kendo-appbar-section>  

<kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section>
    <button kendoButton style="font-size: 2em; color: Tomato;" iconClass="fas fa-plus-square"
      (click)="open()">Add Book</button>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <button kendoButton style="font-size: 2em; color: Tomato;" iconClass="fas fa-sign-in-alt">Sign-In</button>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <button kendoButton style="font-size: 2em; color: Tomato;" iconClass="fas fa-user-plus">Sign-Up</button>
  </kendo-appbar-section>
</div>
</kendo-appbar>

<app-add-book [(toggle)]="toggle"></app-add-book>
<!--app-pet [(toggle)]="toggle"></app-pet-->

<!--div class="w3-row">
  <div *ngFor="let item of item$ | async" class="w3-col s6 m4 l2" (click)="setSelectedAd(annonce)"
    onclick="document.getElementById('id-ad-details').style.display='block'">
    <div class="w3-container w3-margin-bottom	">
      <div class="w3-hover-shadow w3-round-xlarge" style="cursor:pointer;">
        <img src={{annonce.imgs[0]}} alt="annonce1" style="height:150px;object-fit: cover;width:100%;border-radius:5%;">
        <div class="w3-container" style="height:75px;">
          <p><span style="font-weight: bold;">150 DT</span>
            {{item.name}}</p>
        </div>
      </div>

    </div>
  </div>
</div>

  <form class="k-form">
        <fieldset>
            <legend>User Details</legend>

            <label class="k-form-field">
                <span>First Name</span>
                <input class="k-textbox" placeholder="Your Name" />
            </label>
            <label class="k-form-field">
                <span>Last Name</span>
                <input class="k-textbox" placeholder="Your Last Name" />
            </label>
        </fieldset>

        <div class="text-right">
            <button type="button" class="k-button" (click)="close('no')">Cancel</button>
            <button type="button" class="k-button k-primary" (click)="submit()">Submit</button>
        </div>
    </form-->
  <!--kendo-textbox [value]="normalValue" [formControl]="name" [clearButton]="true">
  </kendo-textbox>
  <p style="margin: 30px; text-align: center;">Are you sure you want to continue? {{name.value}}</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="close('no')">No</button>
    <button kendoButton (click)="close('yes')" primary="true">Yes</button>
  </kendo-dialog-actions-->
