<kendo-dialog *ngIf="toggleRegister" (close)="close()" [height]="250" [width]="300">

    <kendo-dialog-titlebar>
        <div style="font-size: 18px; line-height: 1.3em;">
         Register New User
        </div>
      </kendo-dialog-titlebar>

            <input type="email" class="formControl" placeholder="Email Address" #userEmail required>


            <input type="password" class="formControl" placeholder="Password" #userPwd required>


     
            <!--input type="button" class="btn btnPrimary" value="Continue"
                (click)="close();authService.SignUp(userEmail.value, userPwd.value);"-->
            <button kendoButton [primary]="true" (click)="close();authService.SignUp(userEmail.value, userPwd.value);">Continue</button>


        <!--div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div-->

        <!-- Continue with Google -->
        <!--div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div-->
    <!--div class="redirectToLogin">
        <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div-->
</kendo-dialog>