<ng-container [formGroup]="petDetails2">
    <div class="wrap">
        <kendo-formfield>
        <kendo-label [for]="files" [text]="'Upload files'"></kendo-label>
        <kendo-fileselect [restrictions]="fileRestrictions" (select)="selectEventHandler($event)"
            (remove)="removeEventHandler($event)" #files [formControlName]="'files'" [multiple]="true">
        </kendo-fileselect>
    </kendo-formfield>

        <!--kendo-upload [autoUpload]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl"
            [restrictions]="uploadRestrictions" (select)="selectEventHandler($event)"
            (clear)="clearEventHandler()" (remove)="removeEventHandler($event)"
            (complete)="completeEventHandler()">
        </kendo-upload-->

        <!--div *ngIf="imagePreviews.length" class="img-preview example-config">
            <h3>Preview selected images</h3>
            <img *ngFor="let image of imagePreviews" [src]="image.src" alt="image preview"
                style="width: 200px; margin: 10px;" />
        </div-->

        <!--kendo-formfield>
            <kendo-label [for]="avatar" [optional]="true" text="Avatar"></kendo-label>
            <kendo-upload #avatar formControlName="avatar" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl"
                [restrictions]="restrictions">
            </kendo-upload>

            <kendo-formhint>Allowed extensions are jpg, jpeg or png</kendo-formhint>
        </kendo-formfield-->

    </div>
</ng-container>